.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;

  resize: none; /* для Firefox */

  outline: none; /* для Chrome */

  overflow: auto; /* для IE */
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}